<div class="stats-container">

    <div class="stat-card">
        <h3>Total</h3>

        <span class="tooltip-text">
            Total invoices stored in blockchain
        </span>

        <p>{{ total }}</p>
    </div>

    <div class="stat-card">
        <h3>Approved</h3>

        <span class="tooltip-text">
            Approved invoices by buyer
        </span>

        <p>{{ approved }}</p>
    </div>

    <div class="stat-card">
        <h3>Rejected</h3>

        <span class="tooltip-text">
            Rejected invoices by buyer
        </span>

        <p>{{ rejected }}</p>
    </div>

    <div class="stat-card">
        <h3>Pending</h3>

        <span class="tooltip-text">
            Invoices waiting for decision
        </span>

        <p>{{ pending }}</p>
    </div>

</div>